@{
    ViewBag.Title = "Home Page";
}

 <!-- Home -->

<div id="Home" class="card bg-dark text-white border-0" style="margin-top:auto;margin-bottom:auto">
    <img class="img-fluid card-img" src="~/Images/bg.jpg" alt="Card image">
    <div class="card-img-overlay d-flex">
        <div class="my-auto mx-auto text-center">
            <h2 class="card-title">Azmain Ventures</h2>
            <h4 class="card-text">We are doing something awesome</h4>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
</div>


 <!-- Section 1 -->
<div id="Ventures" class="container text-center bg-dark" style="padding:100px">
    <h1 class="text-light" style="padding-bottom:60px">Online Services</h1>
    @*<p>Try to scroll this page and look at the navigation bar while scrolling!</p>*@
    <div class="card-deck">
        <div class="card bg-light border-0">
            <a href="http://www.elimuinfo.com" style="text-decoration:none" target="_blank">
                <img class="card-img-top" src="~/Images/Elimuinfo.jpg?+"@DateTime.Now alt="Elimuinfo" >
                <div class="card-body text-dark">
                    <h5 class="card-title">Elimuinfo</h5>
                    <p class="card-text">Learn anything, Teach anything</p>
                    @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                </div>
            </a>
        </div>
        <div class="card bg-light border-0">
            <a href="http://www.Huduma.co" style="text-decoration:none"  target="_blank">
                <img class="card-img-top" src="~/Images/Huduma.jpg?+"@DateTime.Now alt="Huduma">
                <div class="card-body text-dark">
                    <h5 class="card-title">Huduma</h5>
                    <p class="card-text">Learn anything, Teach anything</p>
                    @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                </div>
            </a>
        </div>
        <div class="card bg-light border-0">
            <a href="http://www.AfroCareGiver.com" style="text-decoration:none"  target="_blank">
                <img class="card-img-top" src="~/Images/AfroCareGiver.jpg?+"@DateTime.Now alt="AfroCareGiver">
                <div class="card-body text-dark">
                    <h5 class="card-title">AfroCareGiver</h5>
                    <p class="card-text">Learn anything, Teach anything</p>
                    @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                </div>
            </a>
        </div>
       
    </div>
</div>

<!-- Section 2 -->
<div id="Products" class="container-fluid text-center bg-danger" style="padding:100px">
    <h1 class="text-light" style="padding-bottom:60px">Products</h1>
    <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
</div>

<!-- Section 3 -->
<div id="Services" class="container-fluid text-center bg-dark" style="padding:100px">
    <h1 class="text-light" style="padding-bottom:60px">Services</h1>
    <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
</div>

<!-- Section 3 -->
<div id="Portfolio" class="container-fluid text-center bg-danger" style="padding:100px">
    <h1 class="text-light" style="padding-bottom:60px">Portfolio</h1>
    <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
</div>

<!-- Section 4 -->
<div id="Contact" class="container-fluid text-center bg-info" style="padding:100px">
    <h1 class="text-light" style="padding-bottom:60px">Contact</h1>
    <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
</div>

